@font-face {
  font-family: 'KNOC29JL';
  src: url("fonts/KNOC29JL.TTF");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KNOCK49L';
  src: url("fonts/KNOCK49L.TTF");
  font-weight: normal;
  font-style: normal;
}